absl-py==0.7.1
astor==0.7.1
certifi==2020.4.5.1
cycler==0.10.0
deap==1.2.2
gast==0.2.2
google-pasta==0.2.0
graphviz==0.14
grpcio==1.20.0
h5py==2.9.0
isort==4.3.20
joblib==0.14.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
lazy-object-proxy==1.4.1
Markdown==3.1
matplotlib==3.2.1
mccabe==0.6.1
numpy==1.18.1
opt-einsum==3.2.1
protobuf==3.11.3
pybind11==2.4.3
pydot==1.4.1
pyparsing==2.4.7
python-dateutil==2.8.1
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
sklearn==0.0
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
Werkzeug==1.0.1
wrapt==1.11.1
